body {
	font-family: Arial, sans-serif;
}

table {
  width: 100%;
}

td {
	padding: 10px;
}

table.formheader {
	padding: 20px;
	border:5px solid black;
	margin: 10px auto;
	width: 70%;
	border-radius: 10px;
}

th.formheader {
	color: red;
}

label {
	display: block;
}


.form-container {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	background-color: pink;
	padding: 10px; 
	border-radius: 10px; 
	width: 80%
}

input[type=text]#lname, #fname  {
	padding: 12px;
	width: 100%;
	margin-right: 200px;
	box-sizing: border-box;
}

input[type=text]#middleinit {
	padding: 12px;
	box-sizing: border-box;
    width: 20%;
}

input[type=date] {
	padding: 12px;
	box-sizing: border-box;
    width: 80%;
}

input[type=number] {
	padding: 12px;
    margin-right: 0;
	box-sizing: border-box;
    width: 100%;
}

input[type=text]#email {
	padding: 12px;
	box-sizing: border-box;
    width: 100%;
    margin-right: 0;
}
