body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.form {
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 100px;
  text-align: left;
}

