body {
	font-family: Arial, sans-serif;
}

table {
  width: 100%;
}

td {
	padding: 10px;
}

table.formheader {
	padding: 20px;
	border:5px solid black;
	margin: 10px auto;
	width: 70%;
	border-radius: 10px;
}

th.formheader {
	color: red;
}

label {
	display: block;
}

.form-container {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	background-color: pink;
	padding: 10px; 
	border-radius: 10px; 
	width: 60%
}

input, select {
	border-radius: 10px;
	font-size: 100%;
}

input[type=text], select  {
	padding: 12px;
	width: 100%;
	margin: 0px auto;
	box-sizing: border-box;
}

input[type=text]#middleinit {
	padding: 12px;
	box-sizing: border-box;
    width: 30%;
}

input[type=date] {
	padding: 12px;
	box-sizing: border-box;
    width: 110%;
}

input[type=number] {
	padding: 12px;
    margin-left: 10px;
	box-sizing: border-box;
    width: 100%;
}

input[type=text]#city {
	padding: 12px;
	box-sizing: border-box;
    width: 100%;
}

input select {
	padding: 12px;
    margin-left: 10px;
	box-sizing: border-box;
    width: 100%;
}
