.form-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-color: pink;
	padding: 20px; 
	border-radius: 10px; 
	width: 55%
}

table {
  width: 100%;
}
 
 td {
	padding: 10px;
}

.patient-header {
	padding: 20px;
    text-align: center;
	background-color: red;
    border: 4px solid white;
    margin: 0 auto;
	border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.text-boxes {
	background-color: deeppink;
    border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	max-width: 100%;
    margin-bottom: 20px;
}

.second-part {
	background-color: deeppink;
    border: 4px solid white;
	border-radius: 10px;
	max-width: 100%;
	padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

input[type="text"],  input[type="date"], input[type="number"], select {
	border-radius: 10px;
	font-size: 100%;
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
}

#fname, #lname {
    margin-right: 200px;
}

#city {
	margin-right: 200px;
}

select, #zip, #email {
	margin-right: 100px;
}

#address1, #address2 {
	margin-right: 600px;
}

input[type="range"] {
	display: flex;
	justify-content: center;
    margin: 0 auto;
    width: 400px;
}

.s2-questiontitle {
	font-weight: bold;
}
