table {
  width: 100%;
}
 
.form-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-color: pink;
	padding: 10px; 
	border-radius: 10px; 
	width: 50%
}
 
 td {
	padding: 10px;
}

.patient-header {
	padding: 15px;
    text-align: center;
	background-color: red;
    margin: 0 auto;
	border-radius: 10px;
    max-width: 100%;
}

.text-boxes {
	background-color: deeppink;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	max-width: 100%;
}

.second-part {
	background-color: deeppink;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	max-width: 100%;
}
 input[type="text"],  input[type="date"], input[type="number"], select {
	border-radius: 10px;
	font-size: 100%;
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
}

#fname, #lname {
    margin-right: 300px;
    box-sizing: border-box; 
}

#city {
	margin-right: 200px;
    box-sizing: border-box; 
}

select, #zip, #email {
	margin-right: 100px;
    box-sizing: border-box; 
}

#address1, #address2 {
	margin-right: 600px;
    box-sizing: border-box; 
}
