/*
File Name: HW1.css
Creator: Breanna Phanmaha
Class: MIS 3371
*/

body {
}

#imglogo {
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

#todaysdate {
	margin-right: 15%;
	text-align: right;
}

#formheader {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	padding: 10px;
	background-color: pink;
	border: solid red;
	border-radius: 10px;
	width: 70%;
	font-size: 30px;
}

.form-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-color: pink;
	padding: 20px; 
	border-radius: 10px; 
	width: 55%
}

table {
	width: 100%;
}
 
 td {
	padding: 10px;
}

#section1-container, {
	background-color: deeppink;
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

input[type="text"],  input[type="date"], input[type="number"], input[type="password"], select, textarea {
	border-radius: 10px;
	font-size: 100%;
	padding: 12px;
	width: 100%;
	box-sizing: border-box;
}

#fname, #lname, #city {
	margin-right: 120px;
}

select, #zip, #email {
	margin-right: 100px;
}

#address1, #address2 {
	margin-right: 300px;
}

#section2-container, {
	background-color: deeppink;
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#s2 {
	margin: 10px;
	text-align: left;
}

input[type="checkbox"], input[type="radio"] {
	margin: 10px;
}

input[type="range"] {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 400px;
}

#section3-container, {
	background-color: deeppink;
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#healthscale, .submitreset-container {
	text-align: center;
}

#visitreason {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 15px;
}

#section4-container, {
	background-color: deeppink;
	border: 4px solid white;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#create-header {
	text-align: center;
	background-color: white;
	border: 4px solid white;
	border-radius: 10px;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.submitreset-container {
	text-align: center;
}

#footer {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	background-color: pink;
	gap: 10px;
	padding: 10px;
}

button {
	width: 5%;
	height: 10%;
	margin-top: 15px;
}
